.gameBlock {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
  max-height: 300px;

  &:hover {
    .gameBlock_delete {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &_delete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}