.input_text {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & > label {
      font-size: 1.6rem;
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.08px;
    }

    svg {
      color: var(--green-color);
      margin-right: 10px;
      font-size: 1.6rem;
      line-height: 10px;
    }
  }

  &__container {
    background-color: #fff;
    display: inherit;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 0 4px 15px 0 rgba(108, 108, 108, 0.15);
    border-radius: 5px;

    &:focus-within {
      border: 1px solid #00f580;
    }

    textarea {
      background-color: transparent;
      width: 100%;
      padding: 15px;
      font-size: 1.6rem;
      font-weight: 500;
    }

    svg {
      margin: 0 15px 0 5px;
      cursor: pointer;
    }
  }

  &__error {
    font-size: 1.3rem;
    color: red;
    margin-top: 0.5rem;
  }
}
