.second_step {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__platforms {
    margin-bottom: 100px;

    @media (max-width: 554px) {
      margin-bottom: 70px;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-bottom: 50px;

    @media (max-width: 1280px) {
      padding-right: 30px;
    }

    @media (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 20px;
      justify-content: center;

      button {
        padding: 20px 80px;
        font-size: 22px;
      }
    }

    @media (max-width: 554px) {
      flex-direction: column-reverse;
      button {
        font-size: 18px;
        padding: 15px 80px;
      }
    }
  }
}