.genderBlock {
  width: 80px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s;


  &.active {
    border: 1px solid var(--green-color);
  }
}