.selectGameBlock {
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border 0.3s, transform 0.3s;
  cursor: pointer;
  overflow: hidden;


  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.active {
    border: 1px solid var(--green-color);
    transform: translateY(-10px);
  }
}