.fileField {
  margin-left: 15px;

  & > h4 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
  }

  &_addButton {
    display: block;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) inset;
    background-color: #1E1E1E;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
  }

  &_preview {
    position: relative;
    width: fit-content;

    &:hover {
      .fileField_preview__closeBtn {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__closeBtn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      cursor: pointer;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  &_container {
    display: flex;
    align-items: flex-start;
  }
}