@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
// main bg color - #060d1e - 0.618 0.667% 0.071%
// white color - #fff -  0 0% 100%
// green color - #00f580 - 156, 100%, 29%
// dark color - #1e1e1e - 0, 0%, 12%
// gray color - #b9b9b9 - 0.00	0.00% 0.73%

@layer base {
  :root {

    --main-background: #060d1e;
    // white color
    --background: #fff;
    // dark color
    --foreground: #1e1e1e;

    --card: #1e1e1e;
    --card-foreground: #fff;

    --popover: #fff;
    --popover-foreground: #1e1e1e;

    --primary: #fff;
    --primary-foreground: #1e1e1e;

    --secondary: #1e1e1e;
    --secondary-foreground: #fff;

    --muted: #b9b9b9;
    --muted-foreground: #1e1e1e;

    // green
    --accent: #00f580;

    //dark
    --accent-foreground: #1e1e1e;

    --destructive: red;
    --destructive-foreground: purple;

    --border: #00f580;
    --input: #00f580;
    --ring: #00f580;

    --radius: 0.5rem;
  }

  .dark {
    --main-background: #060d1e;

    --background: #fff;
    // dark color
    --foreground: #1e1e1e;

    --card: #1e1e1e;
    --card-foreground: #fff;

    --popover: #fff;
    --popover-foreground: #1e1e1e;

    --primary: #fff;
    --primary-foreground: #1e1e1e;

    --secondary: #1e1e1e;
    --secondary-foreground: #fff;

    --muted: #b9b9b9;
    --muted-foreground: #1e1e1e;

    // green
    --accent: #00f580;

    //dark
    --accent-foreground: #1e1e1e;

    --destructive: red;
    --destructive-foreground: purple;

    --border: #00f580;
    --input: #00f580;
    --ring: #00f580;

    --radius: 0.5rem;
  }
}

@layer base {


  body {
    @apply bg-mainBackground text-foreground w-screen h-screen overflow-x-hidden;
  }

  input {
    @apply outline-none border-none
  }

  textarea {
    @apply border-none outline-none
  }

  button {
    @apply outline-none border-none cursor-pointer
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}